.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 20px auto;
}
  .avatar-edit {
      position: absolute;
      right: 12px;
      z-index: 1;
      top: 10px;
  }
      .avatar-edit input {
          display: none;
      }
          .avatar-edit input + label {
              display: inline-block;
              width: 34px;
              height: 34px;
              margin-bottom: 0;
              border-radius: 100%;
              background: #FFFFFF;
              border: 1px solid transparent;
              box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
              cursor: pointer;
              font-weight: normal;
              transition: all .2s ease-in-out;
          }
              .avatar-edit input + label:hover {
                  background: #f1f1f1;
                  border-color: #d6d6d6;
              }
              .avatar-edit input + label:after {
                  content: "\f040";
                  font-family: 'FontAwesome';
                  color: #757575;
                  position: absolute;
                  top: 10px;
                  left: 0;
                  right: 0;
                  text-align: center;
                  margin: auto;
              }
  .avatar-preview {
      width: 192px;
      height: 192px;
      position: relative;
      border-radius: 100%;
      border: 6px solid #272727;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
      .avatar-preview > div {
          width: 100%;
          height: 100%;
          border-radius: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
      }
      .avatar-preview > img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        object-fit: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
/* add images common end*/

/* add vehicle form start */
.form-control {
  height: 55px;
  border-radius: 15px;
  background-color:#272727 ;
  border: none;
  /* box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5); */
}
.vehicle .form-control:focus {
  box-shadow: 0px 2px 8px 0px #fe9f00;
  background-color: #424242;
  color: white;
}
/* add vehicle form end */

/* vehicle document upload start */
.vehicle_upload_doc {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.vehicle_upload_doc .vehicle_edit_doc {
  position: absolute;
  right: 5px;
  z-index: 1;
  bottom: 0;
}
.vehicle_upload_doc .vehicle_edit_doc input {
  display: none;
}

.vehicle_col_2 h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 82px;
  color: #efefef;
  margin-top: 10vh;
}
.vehicle_col_2 hr {
  margin-bottom: 10vh;
}
/* vehicle document upload end */

.addVehicle_form button {
  display: flex;
}

.upload_cert {
  background-color: #272727;
  height: 155px;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  margin-bottom: 15px;
  cursor: pointer;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
}
.upload_cert:hover {
  box-shadow: 0px 2px 8px 0px #f56a00;
}
.vehicle_col_2 .row {
  margin-top: 20px;
}
label {
  color:  #efefef;
}
label input:focus {
  border-color: black !important;
}
