.card {
  background-color: #424242;
  border-radius: 15px;
  width: 100%;
  margin-top: 40px;
  display: flex;
  padding: 20px;
}
.driver_img {
  height: 120px;
  width: 120px;
  overflow: hidden;
  background-color: aliceblue;
  z-index: 1;
  border-radius: 100px;
  border: 2px solid #909090;
}
.driver_img img {
  height: 120px;
  width: 120px;
  object-fit: cover;
}
.card i{
    font-size: 24px;
}
.driver_detail{
  display: flex;
  align-items:center;
  
}
.driver_detail_box{
  margin: 0 20px;
  display: flex;
  align-items: flex-end;
}
.driver_name {
  


}
.driver_detail_box .fa {
  margin-right: 10px;
  color: #909090;
  font-size: 18px;
}
.driver_detail_box .btn {
  margin-top: 1.875em;
}
.driver_name {
  color: #FFFFF1 ;
  text-align: left;
  font-size: 20px;
  margin: 0;
}
.driver_number{
  color: #909090;
  font-size: 16px;
  margin: 0;
}
.card a{
  color: #FFFFF1 !important;
  display: flex;
  justify-content: center;
  height: 40px;
  width: 120px;
  border-radius: 15px;
  padding: 6px 0 0 3px;
  border: none;
  font-weight: 500;
  background: #424242;
  box-shadow: 6px 6px 12px #373737, -6px -6px 12px #4d4d4d;
}
.card a:hover {
  box-shadow:  6px -6px 12px #373737, 
             -6px 6px 12px #4d4d4d;
}
.card a:active{
  box-shadow: inset 5px 5px 10px #353535, inset -5px -5px 10px #4f4f4f;

}
