.addVehicleForm {
    display: flex;
    justify-content: center;
}
.vehicle_row {
    width: 30rem;
}
.addVehicleForm button {
    float: right;
    padding: 10px 30px;
    background-color: #F56A00;
    color: white;
    font-weight: 500;
    border-radius: 50px;
}
.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
  form #decrease {
    height: 55px;
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
    z-index: 1;
  }
  
  form #increase {
    height: 55px;
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
    z-index: 1;
  }
  
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  .part_quantity {
      width: 30px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
@media only screen and (max-width:600px){
    .vehicle_row{
        width: 24rem;
    }
}