@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

/* authentication start */
body {
  box-sizing: border-box;
  background-color: #181818;
  scroll-behavior: smooth;
}

.vehicleTable {
  /* padding: 0 50px 0 80px; */

}
#addBtn_vid a {
  border: none;
  outline: none;
  margin: 20px;
  cursor: pointer;
}

.addBtn_wrapper_vid {
  margin: auto;
  /* padding: 70px; */
  z-index: 2147483647;
  cursor: pointer;
}

.circle_vid {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: #F56A00;
  /* opacity: 0.5; */
  /* display: flex; */
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.5);
  transition: 0.2s;
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer !important;
}

#addBtn_vid img {
  margin: auto;
  width: 30px;
  height: 30px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  cursor: pointer;
}
.button_add {
  border: 1px solid #f56a00;
  background-color: #f56a00;
  font-weight: 700;
  border-radius: 50px;
  padding: 10px 30px;
  align-items: center;
}
.button_add:link,
.button_add:visited {
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
}

.button_add:hover {
  transform: translateY(-3px);
}

.button_add:active {
  transform: translateY(-1px);
}
.button_add {
  animation: moveInBottom 0.3s ease-out;
  animation-fill-mode: backwards;
}
.sidebar-header span img {
  position: fixed;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.vehiclePlate {
  display: inline-flex;
  border: 2px solid #000000;
  border-radius: 6px;
  background-color: #ffce34;
  position: relative;
  color: #000;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  text-shadow: 0 0 12px #000;
  box-shadow: 0 1px 8px #181818;
}

.vehiclePlateNumber {
  padding: 4px 6px 4px 6px;
  /* box-shadow: inset 0 0 2px #000000; */
}
.top_header h3 {
  color: #fafafa;
  text-transform: uppercase;
  font-weight: 700;
}
.top_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.docAdd p {
  display: flex;
  text-align: center;
  padding: 20px;
}
.custom {
  position: absolute;
  opacity: 0;
  margin: 0;
  width: 70%;
  height: 70%;
  z-index: 1;
  cursor: pointer;
}

.dots {
  position: relative;
  top: -8px;
  display: flex;
  width: 45px;
  justify-content: space-between;
  cursor: pointer;
}

.dots .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #272727;
}

.dots.one {
  position: absolute;
  left: 0;
  top: 0px;
}

.dots.two {
  position: absolute;
  left: 8px;
  top: 0;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  background-color: #272727;
  transform-origin: center;
  border: 3px solid #272727;
  opacity: 1;
}

.dots.three {
  position: absolute;
  left: 16px;
  top: 0;
}
.threeDots {
  position: absolute;
  right: 0;
  top: 20px;
  display: inline-block;

}
.box {
  position: relative;
  width: auto;
  margin-left: -20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 0 10px 30px;
  line-height: 40px;
  background-color: #dc1b20;
  color: #000;
  display: flex;
  align-items: center;
}
.box a {
  position: absolute;
  /* margin-left: 70%; */
  border-radius: 50%;
  border: none;
  background: #dc1b20;
  box-shadow: 4px 4px 6px #bb171b, -4px -4px 6px#ff2025;
}
.box .viewDoc {
  margin-left: 64%;
}
.box .editDoc {
  margin-left: 78%;
}
.box button:focus {
  outline: none !important;
  border: none;
}
.box button:active {
  box-shadow: inset 6px 6px 12px #b7161b, inset -6px -6px 12px #ff2025;
}
.box p {
  color: white;
}
.box::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  border-bottom: 25px solid transparent;
  border-right: 20px solid #be0c04;
}
button{
  border: none !important;
  outline: none !important;
}
.form_button{
  /* border: 1px solid #f56a00; */
  background-color: #06c000;
  font-weight: 700;
  border-radius: 50px;
  padding: 10px 30px;
}
.search select{
  margin: 0 5px;
}
.search button{
  margin: 0 5px;
}
.search {
  border: 3px solid #272727;
  padding: 10px 5px;
  border-radius: 10px;
}
.button_top{
  border-radius: 25px;
  background: #272727;
}
.button_top i{
  color: #909090;
  display: block;
  padding: 0 5px;
  width: 43px;
}
.header_button{
  align-items: center;
}
.filter_button i{
  color: #909090;
 font-size: 30px;
}
.button_add .fa-truck{
  display: none;
}
.org{
  min-height: 80px;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
}
@media only screen and (max-width:600px){
  .vehicleTable{
    padding: 0;
  }
  .search{
    flex-direction: column;
  }
  .search select{
    margin: 0;
  }
  .search select:nth-child(2){
    margin-top: 15px;
  }
  .button_add{
    align-items: center;
  }
  .button_add .fa-truck{
    display: block;
    font-size: 30px;
  }
  .button_add span{
    display: none;
  }
}

