.form-group label {
  color: #999999;
}
.form-control {
  height: 55px;
  border-radius: 15px;
  background-color: #181818;
  border: none;
  /* box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5); */
}
.editDocPopup {
  margin: 80px 10px 20px 10px;
}
.modal-header {
  border-bottom: 1px solid #999999;
}
.modal-footer {
  border-top: 1px solid #999999;
}
 .modal-dialog .modal-content {
    background-color: #272727;
  }
  #vehicleEditDoc .modal-dialog .modal-content .modal-title {
    color: white;
  }
  .vehicleDataEdit {
    float: right;
    margin: 30px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: #424242;
    box-shadow: 6px 6px 12px #373737, -6px -6px 12px #4d4d4d;
  }
  .vehicleDataEdit i {
    color: #999978;
    font-size: 22px;
  }
  .editDocModal {
    padding: 30px 60px 30px 60px;
  }
  #vehicleAddDoc h5 {
      color: white;
  }

  #vehicleAddDoc .addDocPopup {
      height: 300px;
  }
  .addDocPopup {
    margin: 80px 10px 20px 30px;
  }
  .cardImgEdit {
    position: relative;
  }
  .cardImgEdit .cardImgEditType {
    position: absolute;
    right: 0;
    z-index: 1;
    bottom: -20px;
  }
  .cardImgEdit .cardImgEditType input {
    display: none;
  }
  .cardImgEdit .cardImgEditType label {
    display: inline-block;
    margin: 0 80px 0 0;
    width: 50px;
    height: 50px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  .cardImgEdit .cardImgEditType label:hover {
    border-color: #424242;
    border-color: #424242;
  }
  .cardImgEdit .cardImgEditType label i {
    font-size: 25px;
    margin: 13px 13px;
    color: grey;
  }
  .cardImgEditPreview {
    height: 440px;
  width: 390px;
    position: relative;
    border-radius: 15px;
    /* border: 6px solid #424242; */
    /* box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1); */
  }
  .cardImgEditPreview div {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
  }