.card {
  background-color: #424242;
  min-height: 520px;
  height: auto;
  /* border: 2px solid #909090; */
  border-radius: 15px;
  width: 100%;
  position: relative;
  margin-bottom: 70px;
  display: flex;
}
.card img {
  border-radius: 15px;
  padding: 10px;
}
.card .card-title {
  color: #fafafa;
}
.card .card-text {
  height: 80px;
}
.inventory_data {
  display: flex;
  justify-content: space-between;
}
.inventory_data span {
  color: #909090;
}
.card a {
  color: #fffff1 !important;
  display: flex;
  justify-content: center;
  height:40px;
  width:180px;
  border-radius: 15px;
  /* padding: 10px 15px 35px 15px; */
  margin: 10px 15px 10px 0;
  border: none;
  font-weight: 500;
  background: #424242;
  box-shadow: 5px 5px 10px #353535, -5px -5px 10px #4f4f4f;
}
.card a:hover {
  background: #424242;
  box-shadow: inset 5px 5px 10px #353535, inset -5px -5px 10px #4f4f4f;
}
.inventory_scrapHeader h3 {
  color: #fafafa;
  text-transform: uppercase;
  font-weight: 700;
}
.inventory_scrapHeader {
  display: flex;
  justify-content: space-between;
}
.inventory_buttons{
    display: flex;
    justify-content: space-between;
}