.card {
    background-color: #424242;
    max-height: 250px;
    height: auto;
    /* border: 2px solid #909090; */
    border-radius: 15px;
    width: 100%;
    position: relative;
    margin-bottom: 70px;
    display: flex;
  }
  .service_date {
    border: 1px solid #909090;
    margin: 10px 0 0 40px;
    border-radius: 12px 0 0 12px;
    height: 120px;
    padding: 20px;
  }
  .service_date strong {
      font-size: 25px;
      text-transform: uppercase;
      color: #FAFAFA;
  }
  .service_date span {
      display: block;
      color: #909090; 
  }
  .col-md-4, .col-md-1, .col-md-3, .col-md-2{
      padding: 0;
  }
  .service_invoice {
      margin: 10px 0 40px 0;
      border: 1px solid #909090;
      height: 120px;
      padding: 20px;
  }
  .service_invoice span {
      display: block;
      color: #909090;
  }
  .service_invoice strong {
      font-size: 20px;
      text-transform: uppercase;
      color: #FAFAFA;
  }
.service_vehicle {
        border: 1px solid #909090;
        margin: 10px 40px 0 0;
        border-radius: 0 12px 12px 0;
        height: 120px;
        padding: 20px;
        /* padding: 10px 0 0 10px; */
    
  }
  .service_vehicle span{
    display: block;
  }
  .service_vehicle span:nth-child(2) {
      font-size: 20px;
  }
  .service_vehicle strong {
      font-size: 20px;
  }
  .service_sr {
    margin: 28px 0 0 40px;
    font-size: 20px;
  }
  .service_buttons {
    display: flex;
    justify-content: flex-end;
    margin: 10px 25px 0 0;
  }
  .service_buttons a{
      margin: 5px;
  }
  .service_sr span{
    color: #FAFAFA;
  }
  .service_vehicle b{
      color: #909090;
  }
  .service_vehicle span:nth-child(2){
      color: #FAFAFA;
  }
  .card a{
    color: #FFFFF1 !important;
    display: flex;
    height: 40px;
    border-radius: 15px;
    padding: 10px 15px 35px 15px;
    margin: 10px 15px 10px 0;
    border: none;
    font-weight: 500;
    background: #424242;
box-shadow:  5px 5px 10px #353535, 
             -5px -5px 10px #4f4f4f;
  }
  .card a:hover {
    box-shadow:  6px -6px 12px #373737, 
               -6px 6px 12px #4d4d4d;
  }
  .card a:active{
    box-shadow: inset 5px 5px 10px #353535, 
                inset -5px -5px 10px #4f4f4f;
  
  }
  .service_header h3 {
    color: #fafafa;
    text-transform: uppercase;
    font-weight: 700;
  }
  .service_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .service_top {
      display: flex;
      justify-content: space-between;
  }
  .vehiclePlate {
    display: inline-flex;
    border: 2px solid #000000;
    border-radius: 6px;
    background-color: #ffce34;
    position: relative;
    color: #000;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    text-shadow: 0 0 12px #000;
    box-shadow: 0 1px 8px #181818;
  }
  .vehiclePlate span{
      color: #000;
  }
  .vehiclePlateNumber {
    padding: 4px 6px 4px 6px;
    box-shadow: inset 0 0 2px #000000;
    color: #000;
  }