.card {
    background-color: #424242;
    min-height: 250px;
    height: auto;
    border-radius: 15px;
    width: 100%;
    position: relative;
    margin-bottom: 70px;
    display: flex;
  }
  .trip_from {
    border: 1px solid #909090;
    margin: 10px 0 0 40px;
    border-radius: 12px 0 0 12px;
    height: 120px;
    padding: 20px;
  }
  .trip_from strong {
      font-size: 20px;
      text-transform: uppercase;
      color: #FAFAFA;
  }
  .trip_from span {
      display: block;
      color: #909090; 
  }
  .col-md-4, .col-md-1, .col-md-3, .col-md-2, .col-md-6{
      padding: 0;
  }
  .trip_to {
      margin: 10px 0 40px 0;
      border: 1px solid #909090;
      height: 120px;
      padding: 20px;
  }
  .trip_to span {
      display: block;
      color: #909090;
  }
  .trip_to strong {
      font-size: 20px;
      text-transform: uppercase;
      color: #FAFAFA;
  }
  .trip_date {
    margin: 10px 0 40px 0;
    border: 1px solid #909090;
    height: 120px;
    padding: 20px;
}
.trip_date>span {
    display: block;
    color: #909090;
}
.trip_date strong {
    font-size: 20px;
    text-transform: uppercase;
    color: #FAFAFA;
}
.trip_with {
    margin: 10px 0 40px 0;
    border: 1px solid #909090;
    height: 120px;
    padding: 20px;
}
.trip_with span {
    display: block;
    color: #909090;
}
.trip_with strong {
    font-size: 20px;
    text-transform: uppercase;
    color: #FAFAFA;
}
  .trip_by {
        border: 1px solid #909090;
        margin: 10px 40px 0 0;
        border-radius: 0 12px 12px 0;
        height: 120px;
        padding: 20px;
    
  }
  .trip_by span{
    display: block;
  }
  .trip_by span:nth-child(2) {
      font-size: 20px;
  }
  .trip_by strong {
      font-size: 20px;
  }
  .trip_sr {
    margin: 28px 0 0 40px;
    font-size: 20px;
  }
  .trip_buttons {
    display: flex;
    justify-content: flex-end;
    margin: 10px 25px 0 0;
  }
  .trip_buttons a{
      margin: 5px;
  }
  .trip_buttons a i{
      margin-top: 5px;
  }
  .trip_sr span{
    color: #FAFAFA;
  }
  .trip_by b{
      color: #909090;
  }
  .trip_by span:nth-child(2){
      color: #FAFAFA;
  }
  .card a{
    color: #FFFFF1 !important;
    display: flex;
    height: 40px;
    border-radius: 15px;
    padding: 10px 15px 35px 15px;
    margin: 10px 15px 10px 0;
    border: none;
    font-weight: 500;
    background: #424242;
box-shadow:  5px 5px 10px #353535, 
             -5px -5px 10px #4f4f4f;
  }
  .card a:hover {
    box-shadow:  6px -6px 12px #373737, 
               -6px 6px 12px #4d4d4d;
  }
  .card a:active{
    box-shadow: inset 5px 5px 10px #353535, 
                inset -5px -5px 10px #4f4f4f;
  
  }
  .trip_header h3 {
    color: #fafafa;
    text-transform: uppercase;
    font-weight: 700;
  }
  .trip_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .trip_top {
      display: flex;
      justify-content: space-between;
  }
  .trip_edit_body{
      padding: 20px 40px;
  }
  .search .form-control {
    height: 55px;
    border-radius: 15px;
    background-color:#272727 ;
    border: none;
    /* box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5); */
  }
  @media (min-width: 768px){
        .trip_buttons a i{
            display: none;
        }
        .trip_buttons a:nth-child(4) i{
            display: block;
          }
  }
  @media (max-width: 768px){
    .trip_from {
        margin: 10px 0 0 40px;
        border-radius: 12px 0 0 0;
      }
      .trip_to {
        margin: 10px 40px 0 0;
        border-radius: 0 12px 0 0;
      }
      .trip_date {
        margin: 0 0 40px 0;
      }
    .trip_with {
        border-radius: 0 0 0 12px;
        margin: 0 0 0 40px;
        }
    .trip_by {
        margin: 0 40px 0 0;
        border-radius: 0 0 12px 0;
        
      }
      .trip_buttons a i{
        display: none;
    }
    .trip_buttons a:nth-child(4) i{
        display: block;
      }

  }
  @media (max-width: 576px){
    .trip_from {
        margin: 10px 0 0 40px;
        border-radius: 12px 0 0 0;
      }
      .trip_to {
        margin: 10px 40px 0 0;
        border-radius: 0 12px 0 0;
      }
      .trip_date {
        margin: 0 40px 0 0;
      }
    .trip_with {
        border-radius: 0;
        margin: 0 0 0 40px;
        }
    .trip_by {
        margin: 0 40px 40px 40px;
        border-radius: 0 0 12px 12px;
        
      }
      .trip_buttons a i{
        display: block;
    }
      .trip_buttons a span{
          display: none;
      }
  }
  