p {
  margin: 0;
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  /* box-shadow: none !important; */
}
.card {
  background-color: #424242;
  border-radius: 15px;
  /* width: 98%; */
  position: relative;
  /* margin-top: 150px; */
  display: flex;
}
.data_card{
  min-height: 500px;
}
.grid {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  height: 55px;
  width: 390px;
  background: #181818;
  opacity: 0.6;
  z-index: 1;
  margin: 25px 0 0 35px;
  border-radius: 10px 10px 0 0;
}
.vehicleDetails {
  display: flex;
  justify-content: flex-start;
}
.cardImg {
  /* padding: 30px; */
  height: 440px;
  width: 390px;
  overflow: hidden;
  background-color: aliceblue;
  box-shadow: 0 0 0 17px #424242;
  border-radius: 9px;
  margin: 25px 0 0 20px;
}
.cardImg img {
  height: 440px;
  width: 390px;
  object-fit: cover;
}
.cardImgEdit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.cardImgEdit .cardImgEditPreview {
  height: 440px;
  width: 390px;
  object-fit: cover;
  border: 8px solid #f5f5f5;
  -webkit-box-shadow: 0px 0px 80px -28px rgba(102,102,102,1);
-moz-box-shadow: 0px 0px 80px -28px rgba(102,102,102,1);
box-shadow: 0px 0px 80px -28px rgba(102,102,102,1);
  border-radius: 9px;
  overflow: hidden;
}

.vehicleDetailsInner {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0px;
  height: 45px;
  bottom: 0px;
  right: 0px;
  padding: 0 40px 10px 10px;
  z-index: 2;
  margin: 25px 0 0 35px;
}
.vehicleCertificatestatus {
  margin-top: 30px;
  padding: 0 100px 0 0;
}
.vehicleCertificatestatus .cert {
  border: 1px solid black;
  padding: 10px 0 10px 0;
  display: flex;
  border-radius: 10px;
  display: flex;
  margin-top: 12px;
}
.vehicleCertificatestatus .cert i {
  font-size: 16px;
  float: right;
}
.vehicleCertificatestatus .cert .fa-times {
  color: orangered;
}
.vehicleCertificatestatus .cert .fa-check {
  color: green;
}
.vehicle_documentHeader{
  display: flex;
  justify-content: space-between;
}
.vehicle_documentHeader h3 {
  color: #fafad8;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 28px;
}
.vehicle_documentHeader {
  margin-top: 80px;
}
.vehicle_document .cert_card{
  background-color: #424242;
  min-height: 500px;
  border-radius: 15px;
  position: relative;
  display: flex;
}
.vehicle_document .row {
  padding: 10px 20px 0 20px;
  /* border-bottom: 1px solid white; */
}
.vehicle_document .row .col-md-6 {
  border-bottom: 1px solid #999999;
}
.vehicleCompany p {
  position: absolute;
  color: #272727;
  bottom: 0;
  /* top: 0; */
  right: 0;
  font-size: 60px;
  font-weight: 800;
  margin-right: 10px;
  /* transform: rotate(-90deg); */
}
#vehicleAddDoc .form-group {
  display: flex;
  align-items: center;
}
@media only screen and (max-width:600px){
  .data_card{
    height: 80vh;
  }
  .cardImg{
    box-shadow: 0 0 0 0;
    margin: 50px 10px 10px 10px;
  }
  .grid{
    margin: 0 0 10px 25px;
    width: 87.5vw;
    height: 60px;

  }
  .vehicleDetailsInner{
    padding: 0 40px 55px 0;
  }
}
