p {
  margin: 0;
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  /* box-shadow: none !important; */
}
.card {
  background-color: #424242;
  height: 500px;
  border-radius: 15px;
  /* width: 98%; */
  position: relative;
  /* margin-top: 150px; */
  display: flex;
}
.grid {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  height: 200px;
  width: 390px;
  background: linear-gradient(rgba(0, 0, 0, 0) 71%, #424242);
  z-index: 1;
  margin: 25px 0 0 35px;
}
.vehicleDetails {
  display: flex;
  justify-content: flex-start;
}
.cardImg {
  /* padding: 30px; */
  height: 440px;
  width: 390px;
  overflow: hidden;
  background-color: aliceblue;
  box-shadow: 0 0 0 17px #424242;
  border-radius: 9px;
  margin: 25px 0 0 20px;
}
.cardImg img {
  height: 440px;
  width: 390px;
  object-fit: cover;
}

.vehicleDetailsInner {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  padding: 0 0 10px 10px;
  z-index: 2;
  margin: 25px 0 0 35px;
}
.vehiclePlate {
  display: inline-flex;
  border: 2px solid #000000;
  border-radius: 6px;
  background-color: #ffce34;
  position: relative;
  color: #000;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  text-shadow: 0 0 12px #000;
  box-shadow: 0 1px 8px #181818;
}

.vehiclePlate {
  padding: 4px 6px 4px 6px;
  box-shadow: inset 0 0 2px #000000;
  /* margin:0 0 0 20px; */
}
.vehicleCertificatestatus {
  margin-top: 30px;
  padding: 0 100px 0 0;
}
.vehicleCertificatestatus .cert {
  border: 1px solid black;
  padding: 10px 0 10px 0;
  display: flex;
  border-radius: 10px;
  display: flex;
  margin-top: 12px;
}
.vehicleCertificatestatus .cert i {
  font-size: 16px;
  float: right;
}
.vehicleCertificatestatus .cert .fa-times {
  color: orangered;
}
.vehicleCertificatestatus .cert .fa-check {
  color: green;
}
.vehicleDocumentData h3 {
  color: #fafad8;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 35px;
  margin-top: 80px;
}
.vehicleDocumentData p {
  display: flex;
  justify-content: center;
  text-align: center;
  /* margin-top: 25px; */
  padding: 25px 50px 0 50px;
}

.vehicleDocument .card {
  height: 230px;
  border-radius: 10px;
  margin-bottom: 50px;
}
.box {
  position: relative;
  width: auto;
  margin-left: -20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 0 10px 30px;
  line-height: 40px;
  background-color: #dc1b20;
  color: #000;
  display: flex;
  align-items: center;
}
.box button {
  position: absolute;
  /* margin-left: 70%; */
  border-radius: 50%;
  border: none;
  background: #dc1b20;
  box-shadow: 4px 4px 6px #bb171b, -4px -4px 6px#ff2025;
}
.box .viewDoc {
  margin-left: 64%;
}
.box .editDoc {
  margin-left: 78%;
}
.box button:focus {
  outline: none !important;
  border: none;
}
.box button:active {
  box-shadow: inset 6px 6px 12px #b7161b, inset -6px -6px 12px #ff2025;
}
.box p {
  color: white;
}
.vehicleDocument .row {
  padding: 10px 20px 0 20px;
  /* border-bottom: 1px solid white; */
}
.vehicleDocument .row .col-md-6 {
  border-bottom: 1px solid white;
}
.box::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  border-bottom: 25px solid transparent;
  border-right: 20px solid #be0c04;
}

.vehicleCompany p {
  position: absolute;
  color: #272727;
  bottom: 0;
  /* top: 0; */
  right: 0;
  font-size: 60px;
  font-weight: 800;
  margin-right: 10px;
  /* transform: rotate(-90deg); */
}
#vehicleEditDoc .modal-dialog .modal-content {
  background-color: #272727;
}
#vehicleEditDoc .modal-dialog .modal-content .modal-title {
  color: white;
}
.vehicleDataEdit {
  float: right;
  margin: 30px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #424242;
  box-shadow: 6px 6px 12px #373737, -6px -6px 12px #4d4d4d;
}
.vehicleDataEdit i {
  color: #999978;
  font-size: 22px;
}
